# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Uploads
backend/db/*.db
backend/public/cover*
backend/archive/*.zip

# IDE
.vscode/
.idea/

.env.secret
