# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Allow frontend env config
!frontend/.env
!frontend/.env.production

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Uploads
backend/db/*.db
backend/public/cover*
backend/public/submissions/
backend/archive/*.zip

# Problems: ignore all except demo folders
backend/problems/**
!backend/problems/demo*/
!backend/problems/demo*/**
backend/problems/demo*/**/__pycache__/
backend/problems/demo*/**/*.py[cod]

# IDE
.vscode/
.idea/

.env.secret
